name: Fully static build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

defaults:
  run:
    shell: bash -l {0}

jobs:
  powerloader_full_static:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
      - uses: actions/checkout@v3

      - name: create build environment
        uses: mamba-org/provision-with-micromamba@main
        with:
          environment-file: environment-static-dev.yml

      - name: build powerloader
        run: |
          mkdir build; cd build
          export USE_ZCHUNK=ON
          cmake .. \
            -GNinja \
            -DCMAKE_INSTALL_PREFIX=$CONDA_PREFIX \
            -DWITH_ZCHUNK=$USE_ZCHUNK \
            -DBUILD_STATIC_DEPS=ON \
            -DBUILD_EXE=OFF
          ninja
      - name: run powerloader tests
        run: |
          cd build
          ninja test

  powerloader_full_static_win:
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v3

      - name: create build environment
        uses: mamba-org/provision-with-micromamba@main
        with:
          environment-file: environment-static-dev-win.yml
          environment-name: build_env
          cache-env: true

      - name: build powerloader
        shell: cmd /C CALL {0}
        run: |
          call micromamba activate build_env
          mkdir build
          cd build
          cmake .. ^
            -D CMAKE_INSTALL_PREFIX=%LIBRARY_PREFIX% ^
            -D CMAKE_PREFIX_PATH="%VCPKG_ROOT%\installed\x64-windows-static;%CMAKE_PREFIX_PATH%" ^
            -D WITH_ZCHUNK=ON ^
            -D BUILD_STATIC_DEPS=ON  ^
            -D BUILD_EXE=OFF ^
            -G "Ninja"
          ninja
      - name: run powerloader test
        shell: cmd /C CALL {0}
        run: |
          call micromamba activate build_env
          cd build
          ninja test
